body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(202, 202, 202, 0.82) 0 10px 5px -6px;
    padding: 10px;
    background-color: #5522c1;
    color: white;
}

#header_title {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-left: 30px;
    width: 15%;
}

#github_logo {
    width: 30px;
    margin-right: 30px;
}

#github_link {
    display: flex;
    justify-content: center;
}

#search_container {
    display: inline-block;
    margin: 50px 50px 50px 100px;
    width: 40%;
}

.second_lv_title {
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

#button_container {
    margin-top: 20px;
}

#search_button {
    border: 0;
    border-radius: 10px;
    background-color: #6d31ed;
    min-width: 35%;
    padding: 20px;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#search_button:hover {
    background-color: #48219c;
}

#search_bar {
    min-width: 70%;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#filter_container {
    display: inline-block;
    margin: 50px;
    width: 40%;
}

.filter_option_container {
    display: block;
    margin-top: 10px;
}

.free_radio {
    accent-color: #6d31ed;
}

#response_container {
    margin: 50px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#table_header {
    background-color: rgba(239, 239, 239, 0.47);
}

#http_response_table {
    display: none;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 2px solid rgba(202, 202, 202, 0.82);
    padding: 25px;
}

tr:hover {
    background-color: rgba(230, 230, 230, 0.82);
}